body {
  background: #ffffff;
  font-family: $main-font-family;
  @include margin(0, 0, 0, 0);
  @include padding(0, 0, 0, 0);
}

a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: $quero-orange;
  }
}
