// Media Queries
$mq-sm: "(max-width: 576px)";
$mq-md: "(max-width: 768px)";
$mq-lg: "(max-width: 992px)";
$mq-xl: "(max-width: 1200px)";

// Widths
$width-sm: 540px;
$width-md: 720px;
$width-lg: 960px;
$width-xl: 1140px;

$btn-height: 40px;

$icon-height: 20px;

$main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$quero-radius: 5px;

$quero-font-size: 14px;
$quero-margin: 10px;
$quero-padding: 10px;

// Colors
$light-main-color: #17a9c2;
$main-color: #05869b;
$dark-main-color: #006f8a;
$quero-green: #10ca79;
$quero-orange: #d49e46;
$quero-gray: #e2e0e0;
$quero-red: #dd5b5d;
